body{
    font-size: 16px;
    font-family: 'Cabin', sans-serif;
    height: 100vh;
}

#trash:hover{
    border-bottom: 5px solid #473d8a;
}

//Utilities
.pagination{
    justify-content: center !important;
}

.bg-main{
    background: linear-gradient(#e66465, #473d8a);
}

.active{
    border-bottom: 5px solid darkslateblue !important;
}

