body{
    font-size: 18px;
}

#trash:hover{
    border-bottom: 5px solid #fff;
}

//Utilities
.pagination{
    justify-content: center !important;
}

.bg-main{
    background-color:darkslateblue;
}

.active{
    border-bottom: 5px solid darkslateblue !important;
}

